@page "/"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motored</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <div>
       

        <div class="Contenedor">

            <div class="VideoFondo"><video src="https://cdn.pixabay.com/vimeo/557015751/motos-75775.mp4?width=1366&hash=07360e3cdd68db6c56642678d7a689ca32186e4a" autoplay muted loop></video></div>

            <p class="Titulo1">Motored</p>
            <p class="Bienvenido">!Bievenido!</p>

            <p class="Bienvenido">Elija la forma en la cual desea ingresar: </p>

            <div class="option">
                <a class="Astyle" href="/login"> Iniciar Sesion </a>
                <br/> 
                <a class="Astyle" href="/registro"> Registrarse </a>
                <br />
                <a Class="Astyle" href="/Invitado"> Invitado </a>
                <br />
            </div>
            

        </div>

        <div class="dark-overlay"></div>

    </div>

</body>

 <Footer>
    <p> Motored &copy;. Todos los derechos reservados</p>
    </Footer>
</html>

@code {

}
