@page "/Prueba"

@inject IJSRuntime JSRuntime 

@using Microsoft.EntityFrameworkCore;
@using ProyectoPracticaII.Client.Models;
@inject HttpClient http
@inject IHttpService Ihttp



<h3>PruebaSession</h3>

<div class="container"> 
    <div class="row p-3">
        <div class="col-4">
            <label> Set your preferences</label>
        </div>

        <div class="col-6">
            <input class="form-control" @bind="userPreferences" />
        </div>
        <div class="col-2">
            <button class="btn btn-primary" @onclick="save">Save</button>
        </div>
    </div>

    @*<div class="row p-3">
        <div class="col-4">
            <label> correo logueado</label>
        </div>
        <div class="col-4">
            <label class="form-control">@IdUser </label>
        </div>

        <div class="col-2">
            <button class="btn btn-primary" @onclick="Read">ver</button>
        </div>
    </div>*@
  
    <h3>Obtener ID de Usuario</h3>

    <button @onclick="Read">Obtener ID</button>

    <p>@IdUsuario</p>
</div>

@code {
    string userPreferences; 
    string storedUserPreferences;
    Usuario user = new Usuario();
    string IdUsuario;



    public async Task save()
    {
        await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "userPreferences", userPreferences);
    }

    public async Task Read()
    {

        storedUserPreferences = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "correo");

        

        ObtenerIdUsuario(); 

    }

    async Task ObtenerIdUsuario()
    {
        try
        {
            // Llamada al endpoint del controlador para obtener el ID del usuario
            var apiUrl = $"api/RastrearId?correo={storedUserPreferences}";

            var response = await http.GetAsync(apiUrl);
            if (response.IsSuccessStatusCode)
            {
                IdUsuario = await response.Content.ReadAsStringAsync();
            }
            else
            {
                IdUsuario = "Error al obtener el ID del usuario";
            }
        }
        catch (Exception ex)
        {
            IdUsuario = $"Error: {ex.Message}";
        }
    }
}
}

    
   

    

      