@page "/Principal"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motored</title>
   
</head>
<body>
    <div>
        <div class="VideoFondo"><video src="https://cdn.pixabay.com/vimeo/557015751/motos-75775.mp4?width=1366&hash=07360e3cdd68db6c56642678d7a689ca32186e4a" autoplay muted loop></video></div>

        <div class="Contenedor">

            <p class="Titulo1">Motored</p>
            <p class="Bienvenido">!Bievenido!</p>
            <a class="Ingresar" href="/">INGRESAR</a>

        </div>

        <div class="dark-overlay"></div>

    </div>

</body>
</html>