@using ProyectoPracticaII.Client.Models;
@inject HttpClient http
@inject IHttpService Ihttp
@inject NavigationManager NavigatorManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html {
            height: 100%;
        }

        html, body {
            background-color: gray;
            flex-direction: column;
            min-height: 100%;
        }
    </style>
</head>
<body>
    <header>
        <section id="Menu">
            <ul>
                <a href="/Inicio">Inicio</a>
                <a href="#">Mi Perfil</a>
                <a href="PMotocicletas/ListaMotocicletas/"> Mis Motos</a>
                <a href="#">Mi Taller</a>

            </ul>

        </section>
    </header>
    <section class="form-usuarios">

        <InputText @bind-Value=usuarios.Clave style=" width: 100%;
    background: #000; padding:10px; border-radius:4px; margin-bottom: 16px; border: 1px solid #bd0003; font-size:18px; color: white;">Año</InputText>

        @if (usuarios.Clave == usuarios.Clave)
        {
            <EditForm Model="usuarios">
                <h4>ACTUALIZAR LOS DATOS DE TU PERFIL</h4>



                <label>Nombre de usuario</label>
                <InputText @bind-Value=usuarios.NombreUsuario style=" width: 100%;
    background: #000; padding:10px; border-radius:4px; margin-bottom: 16px; border: 1px solid #bd0003; font-size:18px; color: white;"> </InputText>
                <label>Correo</label>
                <InputText @bind-Value=usuarios.Correo style=" width: 100%;
    background: #000; padding:10px; border-radius:4px; margin-bottom: 16px; border: 1px solid #bd0003; font-size:18px; color: white;"> </InputText>
                <label>Clave</label>
                


                <button class="btnC" @onclick="(()=>ActualizarUsuario(usuarios))">Actualizar</button>
                <button class="btnC" @onclick="onCancel"> Cancelar</button>
            </EditForm>
        }
        else
        {
            <label>Ingrese la contraseña correctamente</label>
        }

    </section>

    <br/>
    <br/>
    
    
</body>
<Footer>
    <p> Motored &copy;. Todos los derechos reservados</p>
    </Footer>
</html>

@code {

    
    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }
    [Parameter] public Usuario usuarios { get; set; }



    public async Task ActualizarUsuario(Usuario usuario)
    {
        var result = await Ihttp.Put($"api/MostrarPerfil/{usuario.IdUsuario}", usuarios);
        NavigatorManager.NavigateTo($"/PMotocicletas/ListaMotocicletas/{usuarios.IdUsuario}");
    }
}