@page "/MiPerfil/{login:int}"
@using ProyectoPracticaII.Client.Models;
@using System.Text;
@inject IHttpService Ihttp
@inject NavigationManager NavigatorManager
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using ProyectoPracticaII.Client.extensiones;
@inject AuthenticationStateProvider autenticacionProvider;
@attribute [Authorize]
@inject NavigationManager NavManager
@inject HttpClient  Http



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        html{
            height: 100%;
        }
        html, body{

            background-color: gray;
            flex-direction:column; 
            min-height:100%; 
        }
    </style>
</head>
<body>
    <header>
        <section id="Menu">
            <ul>
                <a href="/Inicio">Inicio</a>
                <a href="/MiPerfil">Mi Perfil</a>
                <a href="PMotocicletas/ListaMotocicletas/"> Mis Motos</a>
                <a href="#">Mi Taller</a>
           
            </ul>
        </section>
    </header>

    

@if (Usuarios == null)
{
    <td>Cargando...</td>
}
else
{

    <div class="datos">
    <div class="contenido">
        <h2>TUS DATOS</h2>
        <div class="info">
            <label>Correo:</label>
            <div>@Usuarios.Correo</div>
        </div>
        <div class="info">
            <label>Nombre de Usuario:</label>
            <div>@Usuarios.NombreUsuario</div>
        </div>
                
                
        <button class="EditarPerfilBoton"><a href="/Validacion">Editar Perfil</a></button>
    </div>
</div>
           

          
    }
    

}
    


    <br/>
    <br/>
    </body>
        
    <Footer>
    <p> Motored &copy;. Todos los derechos reservados</p>
    </Footer>

  


</html>


@code {
    [Parameter] public int login { get; set; }
    Usuario Usuarios;


    

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();

        await Leer();
    }


    private async Task Leer()
    {

        var respuesta = await Ihttp.Get<Usuario>($"api/MostrarPerfil/{login}");

        if (!respuesta.Error)
        {
            Usuarios = respuesta.Respuesta;
          
        }
    }


}
