@using ProyectoPracticaII.Client.Models;
@inject IHttpService http
@inject NavigationManager NavigatorManager
@page "/Opinion/NuevaOpinion/{taller:int}"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        html{
            height: 100%;
        }
        html, body{

            background-color: gray;
            flex-direction:column; 
            min-height:100%; 
        }
    </style>
</head>
<body>
    <header>
        <section id="Menu">
            <ul>
                <a href="/Inicio">Inicio</a>
                <a href="#">Mi Perfil</a>
                <a href="PMotocicletas/ListaMotocicletas/"> Mis Motos</a>
                <a href="#">Mi Taller</a>
           
            </ul>

        </section>
    </header>

    <br />
    <section class="form-opinion">

        <EditForm Model="nuevaOpinion">

            <h4>Publicar nueva opinion</h4>


            <label>idusuario</label>
            <InputNumber @bind-Value=nuevaOpinion.IdUsuario style="width: 100%;
    background: #000; padding:10px; border-radius:4px; margin-bottom: 16px; border: 1px solid #bd0003; font-size:18px; color: white;"></InputNumber>

            <label>idtaller</label>
            <InputNumber @bind-Value=nuevaOpinion.IdTaller style="width: 100%;
    background: #000; padding:10px; border-radius:4px; margin-bottom: 16px; border: 1px solid #bd0003; font-size:18px; color: white;"></InputNumber>

            <label>Comentario</label>
            <InputText @bind-Value=nuevaOpinion.Comentario style="width: 100%;
    background: #000; padding:10px; border-radius:4px; margin-bottom: 16px; border: 1px solid #bd0003; font-size:18px; color: white;"></InputText>

            <label>Fecha</label>
            <InputText @bind-Value=nuevaOpinion.Fecha style="width: 100%;
    background: #000; padding:10px; border-radius:4px; margin-bottom: 16px; border: 1px solid #bd0003; font-size:18px; color: white;"></InputText>

            <label>Rating</label>
            <InputNumber @bind-Value=nuevaOpinion.Rating style="width: 100%;
    background: #000; padding:10px; border-radius:4px; margin-bottom: 16px; border: 1px solid #bd0003; font-size:18px; color: white;"></InputNumber>


            <button class="btnC" @onclick="(()=>CrearOpinion(nuevaOpinion))">Nueva Opinion</button>

        </EditForm>
    </section>
    <br/>
    <br/>
    </body>
        
    <Footer>
    <p> Motored &copy;. Todos los derechos reservados</p>
    </Footer>

  


</html>









@code {
    Opinione nuevaOpinion = new Opinione();
    [Parameter] public int login { get; set; }
    [Parameter] public int taller { get; set; }

  


    public async Task CrearOpinion(Opinione opinione)
    {
        var resultado = await http.Post<Opinione>("api/Opinion", nuevaOpinion);
        if (resultado.Error)
        {
            var body = resultado.HttpResponseMessage;

        }
        // NavigatorManager.NavigateTo($"/PTaller/ListaTaller/{nuevaOpinion.IdUsuario}");
    }


   
  
}
