@page "/Opinion/verOpinion/{Idtaller:int}"
@using ProyectoPracticaII.Client.Models;
@inject IHttpService http
@inject NavigationManager NavigatorManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <section id="Menu">
            <ul>
                <a href="/Inicio">Inicio</a>
                <a href="#">Mi Perfil</a>
                <a href="PMotocicletas/ListaMotocicletas/">Mis Motos</a>
                <a href="#">Salir</a>
            </ul>

        </section>
    </header>

    @if (opiniones != null)
    {
        <table>
            <thead>
                <tr>
                   
                    <th>Comentario</th>
                    <th>Fecha</th>
                    <th>Rating</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var opinion in opiniones)
                {
                    <tr>
                        <td>@opinion.Comentario</td>
                        <td>@opinion.Fecha</td>
                        <td>@opinion.Rating</td>
                          <td>
                            <ProyectoPracticaII.Client.Pages.PTallerTop.StarRating Rating="@Convert.ToInt32(opinion.Rating)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay opiniones disponibles.</p>
    }




    

    <Footer>
    <p> Motored &copy;. Todos los derechos reservados</p>
    </Footer>
</body>




</html>





@code {
    [Parameter] public int Idtaller { get; set; }
    [Parameter] public int login { get; set; }
    List<Opinione> opiniones;

   


    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await Leer();
    }


    private async Task Leer()
    {

        var respuesta = await http.Get<List<Opinione>>($"api/Opinion/GetOpinionesPorIdTaller/{Idtaller}");
        if (!respuesta.Error)
        {
            opiniones = respuesta.Respuesta;
        }
    }

    
    
   


   

}
