@page "/Opinion/verOpinion/{taller:int}"
@using ProyectoPracticaII.Client.Models;
@inject IHttpService http
@inject NavigationManager NavigatorManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <section id="Menu">
            <ul>
                <a href="/Inicio">Inicio</a>
                <a href="#">Mi Perfil</a>
                <a href="PMotocicletas/ListaMotocicletas/">Mis Motos</a>
                <a href="#">Salir</a>
            </ul>

        </section>
    </header>

    <br />




    <br />

    <h3>Opiniones del taller</h3>

    <br />
   
   
    <div id="main-container">
        
        <table>
            <thead>
                <tr>

                    <th>Fecha</th>
                    <th>Comentario</th>
                    <th>Rating</th>
                  
        
                    <th></th>
                    <th></th>
                </tr>
            </thead>
          

@if (opiniones == null)
{
    <tr>Cargando...</tr>
}
else if (opiniones.Count == 0)
{
    <tr>No existen opiniones del taller</tr>
}
else
{
    @foreach (var item in opiniones)
    {
      <tr>
        
            <td>@item.Fecha</td>
            <td>@item.Comentario</td>
            <td>@item.Rating</td>

            
            
      </tr>
      
    }
   
}

 </table>
    </div>


    

    <Footer>
    <p> Motored &copy;. Todos los derechos reservados</p>
    </Footer>
</body>




</html>





@code {
    [Parameter] public int taller { get; set; }
    [Parameter] public int login { get; set; }
    List<Opinione> opiniones;
    List<Usuario> usuarios;
    List<(Opinione, Usuario)> ListaCombinada;
    List<Taller> tallerr;

   


    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await Leer();
    }


    private async Task Leer()
    {

        var respuesta = await http.Get<List<Opinione>>($"api/ListaOpinion/{taller}");
        if (!respuesta.Error)
        {
            opiniones = respuesta.Respuesta;
        }
    }

    
    
   


   

}
