@page "/TalleresTop"
@using ProyectoPracticaII.Client.Models;
@inject IHttpService http
@inject NavigationManager NavigatorManager

<h3>ListaTalleresTop</h3>

@code {
    [Parameter] public int taller { get; set; }
    [Parameter] public int login { get; set; }
    
    
    
    
    List<ListaTalleresTop> tallerestop;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await Leer();
    }


    private async Task Leer()
    {

        var respuesta = await http.Get<List<ListaTalleresTop>>($"api/ListaTalleresTop/{taller}");
        if (!respuesta.Error)
        {
            tallerestop = respuesta.Respuesta;
        }
    }

    
}
